{% extends 'base.html' %}
{% load static %}
{% load diagnosis_tags %}
{% block content %}
<div class="breadcrumb-bar">

			</div>
<div class="content" style="transform: none; min-height: 107.24px;">
				<div class="container" style="transform: none;">
					<div class="row justify-content-center">
						<div class="col-lg-6">

							<div class="card success-card">
								<div class="card-body">
									<div class="success-cont">
										<i class="fas fa-check"></i>
										<h3>Ваша заявка на регистрацию в качестве доктора находится на рассмотрении</h3>
										<p>Каждая заявка тщательно проверяется нашими модераторами, чтобы обеспечить безопасность и качество сервиса для всех пользователей.</p>
									</div>
								</div>
							</div>

						</div>
					</div>

					</div>
				</div>
{% endblock %}


