{% load static %}
<html lang="en" style="transform: none;"><head>
	<meta charset="utf-8">
	<title>Mediog</title>
	<link href="img/favicon.png" rel="icon">

	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

	<link rel="stylesheet" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">

	<link rel="stylesheet" href="{% static 'plugins/select2/css/select2.min.css' %}">

	<link rel="stylesheet" href="{% static 'plugins/fancybox/jquery.fancybox.min.css' %}">

	<link rel="stylesheet" href="{% static 'css/custom.css' %}">
	<style id="theia-sticky-sidebar-stylesheet-TSS">.theiaStickySidebar:after {content: ""; display: table; clear: both;}</style></head>
	<body style="transform: none;">

		<div class="main-wrapper" style="transform: none;">

			<header class="header header-custom header-fixed header-one header-space pharmacy-header">
				<div class="container">
					<nav class="navbar navbar-expand-lg header-nav">
						<div class="navbar-header">
							<a id="mobile_btn" href="javascript:void(0);">
								<span class="bar-icon">
									<span></span>
									<span></span>
									<span></span>
								</span>
							</a>
							<a href="index.html" class="navbar-brand logo">
								<img src="{% static 'img/mediog.png' %}" class="img-fluid" alt="Logo">
							</a>
						</div>
						<div class="main-menu-wrapper">
							<div class="menu-header">
								<a href="index.html" class="menu-logo">
									<img src="{% static 'img/mediog.png' %}" class="img-fluid" alt="Logo">
								</a>
								<a id="menu_close" class="menu-close" href="javascript:void(0);">
									<i class="fas fa-times"></i>
								</a>
							</div>
							<ul class="main-nav">
								{% if user.is_authenticated %}
							    <li class="has-submenu {% if request.path == '/diagnosis/doctor/requests/list/' %} active {% endif %}">
									<a href="{% url 'diagnosis:doctor_requests_list_doctor_part' %}">Запросы на донорство</a>
								</li>
								<li class="has-submenu {% if request.path == '/diagnosis/doctor/list' %} active {% endif %}">
									<a href="{% url 'diagnosis:doctor_dashboard' %}">Пациенты</a>
								</li>
								{% endif %}

								{% if user.is_authenticated %}
								<li class="nav-item dropdown has-arrow logged-item" >
								<a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown" aria-expanded="false">
								<span class="user-img">
									<img class="rounded-circle" src="{% static 'img/patient_logo.png' %}" width="31" alt="Darren Elder">
								</span>
								</a>
								<div class="dropdown-menu dropdown-menu-end" style="padding:5px;">
								<div class="user-header">
									<div class="avatar avatar-sm">
										<img src="{% static 'img/patient_logo.png' %}" alt="User Image" class="avatar-img rounded-circle">
									</div>
									<div class="user-text">
										<h6>{{user.get_full_name}}</h6>
										<p class="text-muted mb-0">{% if user.is_patient %} Пациент {% else %} Доктор {% endif %}</p>
									</div>
								</div>
									<form action="{% url 'logout' %}" method="post">
    									{% csrf_token %}
    									<input class="dropdown-item" type="submit" value="Logout">
									</form>
								</div>
							</li>
								{% else %}
								<li class="login-link"><a href="{% url 'login' %}">Login</a></li>
								<li class="register-btn">
									<a href="{% url 'diagnosis:register' %}" class="btn reg-btn"><i class="fas fa-user"></i>Регистрация</a>
								</li>
								<li class="register-btn">
									<a href="{% url 'login' %}" class="btn btn-primary log-btn"><i class="fas fa-lock"></i>Войти</a>
								</li>
								{% endif %}

							</ul>
						</div>
					</nav>
				</div>
			</header>
			{% block content %}

			{% endblock %}
		</div>


			<script src="{% static 'js/jquery-3.7.1.min.js' %}" type="text/javascript"></script>

			<script src="{% static 'js/bootstrap.bundle.min.js' %}" type="text/javascript"></script>

			<script src="{% static 'plugins/theia-sticky-sidebar/ResizeSensor.js' %}" type="text/javascript"></script>
			<script src="{% static 'plugins/theia-sticky-sidebar/theia-sticky-sidebar.js' %}" type="text/javascript"></script>

			<script src="{% static 'plugins/select2/js/select2.min.js' %}" type="text/javascript"></script>

			<script src="{% static 'js/moment.min.js' %}" type="text/javascript"></script>
			<script src="{% static 'js/bootstrap-datetimepicker.min.js' %}" type="text/javascript"></script>

			<script src="{% static 'plugins/fancybox/jquery.fancybox.min.js' %}" type="text/javascript"></script>

			<script src="{% static 'js/script.js' %}" type="text/javascript"></script>

			<div class="sidebar-overlay"></div></body></html>
