{% extends 'base.html' %}
{% load static %}
{% load diagnosis_tags %}
{% block content %}
<div class="breadcrumb-bar">

			</div>
			<div class="breadcrumb-bar">

			</div>
<div class="content" style="transform: none; min-height: 107.24px;">
				<div class="container" style="transform: none;">
					<div class="row" style="transform: none;">
						<div class="row">
							<div class="col-lg-8 col-md-12">
								<div class="paitent-header">
									<h4 class="paitent-title">Сведения о пациенте</h4>
								</div>
								<div class="paitent-appointment">
									<form method="post" action="{% url 'diagnosis:patient_form' doctor_pk %}">
                                    {% csrf_token %}

										<div class="forms-block">

                                            <input type="hidden" value="{{appointment_datetime|date:'Y-m-d H:i' }}" name="appointment_datetime">
											{{ form.as_p }}
										</div>
                                        <div class="submit-section proceed-btn text-right">
                                            <button type="submit" class="btn btn-primary ">Отправить</button>
                                        </div>

									</form>
								</div>
							</div>
							<div class="col-lg-4 col-md-12">
								<div class="booking-header">
									<h4 class="booking-title">Сводка бронирования</h4>
								</div>
								<div class="card booking-card">
									<div class="card-body booking-card-body">
										<div class="booking-doctor-details">
											<div class="booking-doctor-left">
												<div class="booking-doctor-img">
													<a href="doctor-profile.html">
														<img src="{% static 'img/patient_logo.png' %}" alt="John Doe">
													</a>
												</div>
												<div class="booking-doctor-info">
													<h4><a href="doctor-profile.html">{{doctor.user.get_full_name}}</a></h4>
													<p>
														{% for specialty in doctor.specialties.all %}
                                            				{{ specialty.name }}
                                       					{% endfor %}
													</p>
												</div>
											</div>
											<div class="booking-doctor-right">
												<p>

												</p>
											</div>
										</div>
									</div>
								</div>
								<div class="card booking-card">
									<div class="card-body booking-card-body booking-list-body">
										<div class="booking-list">
											<div class="booking-date-list">
												<ul>
													<li>Дата бронирования: <span>{{appointment_datetime}}</span></li>
												</ul>
											</div>
											<div class="booking-doctor-right">
												<p>
													<i class="fas fa-circle-check"></i>
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>











{% endblock %}